################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Console/bin/Debug
/Console/obj/Debug
/packages
/UWP/bin/x86/Debug
/UWP/obj/x86/Debug
